// @import "../../style/variables";
// @import "../../style/mixins";

// @use "../../style/variables" as *;
// @use "../../style/mixins" as *;

@use "../../style/variables" as variables;
@use "../../style/mixins" as mixins;

.button {
  @include mixins.button-styles;
  background-color: variables.$primary-color;
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &.secondary {
    background-color: variables.$secondary-color;
  }

  &.success {
    background-color: variables.$success-color;
  }

  &.warning {
    background-color: variables.$warning-color;
  }

  &.error {
    background-color: variables.$error-color;
  }

  &.info {
    background-color: variables.$info-color;
  }

  &__text {
    color: black;
  }

  &__icon {
    color: yellow;
  }
}

.hoverEffect {
  &:hover {
    background-color: darken(variables.$primary-color, 10%);
  }

  &.secondary:hover {
    background-color: darken(variables.$secondary-color, 10%);
  }

  &.success:hover {
    background-color: darken(variables.$success-color, 10%);
  }

  &.warning:hover {
    background-color: darken(variables.$warning-color, 10%);
  }

  &.error:hover {
    background-color: darken(variables.$error-color, 10%);
  }

  &.info:hover {
    background-color: darken(variables.$info-color, 10%);
  }
}
